<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': game.status == GameStatus.Enabled,
                'list-group-item-danger': game.status == GameStatus.Disabled}">
             

    <h4>Jeu : {{ game.name }}  
        <span class='glyphicon glyphicon-remove'  style="color: red"   
        *ngIf="game.status == GameStatus.Disabled"></span>

       <span class='glyphicon glyphicon-ok'  style="color: green"   
        *ngIf="game.status == GameStatus.Enabled"></span>

    </h4>
    <input type="text" class="form-control" [(ngModel)]="game.name">
    <button class="btn btn-sm btn-success"
        *ngIf="game.status == GameStatus.Disabled"
        (click)="onSwitch()">Marquer disponible</button>

   <button class="btn btn-sm btn-danger"
    *ngIf="game.status == GameStatus.Enabled"
    (click)="onSwitch()">Marquer indisponible</button>
  </li>



